header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.5rem 1rem 1.5rem;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  
  cursor: pointer;
}



li {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  position: relative;
  left: 19%;
}
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: 4%;
  right: 5px;
}


.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 1.25rem;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}
.butn {
  color: white;
  padding: 0.563rem 1.563rem ;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.login {
  background: transparent;
  border: 1px solid #d279f7;
  color: black;
  margin: 0 0.4em 0 0;
}
.login:hover{
  background-color: #d279f7;
  color: white;
}
.sign-up {
  background-color: #d279f7;
}
.sign-up:hover {
  background-color: #b85fde;
  color: white;
}
