
.navbar {
  padding: auto 5% auto 5%;
}
.navbar-brand {
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  margin-right: 29vw;
}
.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
li {
  margin-right: 30px;
}
.btn {
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  border-radius: 50px;
  color: white;
}
.login {
  background-color: transparent;
  color: black;
  margin: 0 0.7% 0 0;
  border: solid 1px #d279f7;
}
.login:hover {
  background-color: #d279f7;
  color: white;
}
.sign-up {
  background-color: #d279f7;
}
.sign-up:hover {
  background-color: #b85fde;
  color: white;
}
